
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/adminpanel/styles.css">
    <link rel="stylesheet" href="~/adminpanel/admin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Font Awesome Library -->

</head>
<body>
    <div class="admin-panel">
        <!-- Left SideBar -->
        <nav class="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                <li><a href="#contacts">Website</a></li>
                <li><a href="~/Admin/AdminList">Admins</a></li>
                <li><a href="~/Admin/Project">Projects</a></li>
                <li><a href="~/Admin/BuildList">Builds</a></li>
                <li><a href="~/Admin/BuildTypeList">BuildTypes</a></li>
                <li><a href="~/Admin/ImageList">Images</a></li>
                <li><a href="~/Admin/OfficeList">Offices</a></li>
                <li><a href="~/Admin/MessageList">Messages</a></li>
                <li><a href="~/Admin/ContactList">Contact</a></li>

                <li><a href="#">Quit</a></li>
            </ul>
        </nav>

        <!-- İçerik Alanı -->
        <div class="content">

            @RenderBody()

        </div>
    </div>
    
</body>
</html>
