
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <link rel="stylesheet" href="~/estate/style.css">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="/Project/Index">Projects</a></li>
            <li><a href="#listings">Listings</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <!-- Projects Section -->
    <section id="projects-section" class="section projects-section">
        <div class="projects-background">
            <div class="projects-slider">
                @Html.Action("Project","MainPage")
            </div>
        </div>
    </section>



    <!-- Search Section -->
    <section class="search-area">
        <input style="width:300px;" type="text" placeholder="Search Listings">
        <select>
            <option value="sale">For Sale</option>
            <option value="rent">For Rent</option>
        </select>
        <select>
            <option value="villa">Villa</option>
            <option value="apartment">Apartment</option>
            <option value="residence">Residence</option>
            <option value="land">Land</option>
        </select>
        <button>Search</button>
    </section>

    <!-- Listings Section -->
    <section class="listings" id="listings">
        <h2>Featured Listings</h2> <!-- Başlık Eklendi -->
        <!-- Tablo Başlıkları -->
        <table class="listing-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- Listing 1 -->
                @Html.Action("Listing","MainPage")

            </tbody>
        </table>
        <!-- Navigation Arrows -->
        <div class="navigation-arrows">
            <button class="arrow left-arrow" onclick="previousListing()">&#10094;</button>
            <button class="arrow right-arrow" onclick="nextListing()">&#10095;</button>
        </div>
    </section>

    <!-- Overlay Section -->
    <div id="overlay" class="overlay">
        <div class="overlay-content">
            <span class="closebtn" onclick="closeOverlay()">&times;</span>
            <div class="overlay-left">
                <img id="overlay-img" src="" alt="Listing Image">
            </div>
            <div class="button-container">
                <button class="prev" onclick="changeImage(-1)">&#10094;</button>
                <button class="next" onclick="changeImage(1)">&#10095;</button>
            </div>
            <div class="overlay-right">
                <p class="overlay-title"><strong id="overlay-title"></strong></p>
                <p><strong>Price: </strong><span id="overlay-price"></span></p>
                <p><strong>Year: </strong><span id="overlay-year"></span></p>
                <p><strong>City: </strong><span id="overlay-city"></span></p>
                <p><strong>District: </strong><span id="overlay-district"></span></p>
                <p><strong>Status: </strong><span id="overlay-status"></span></p>
                <p><strong>Type: </strong><span id="overlay-type"></span></p>
                <p class="overlay-description"><span id="overlay-description"></span></p>
                <button>Contact</button>
            </div>
        </div>
    </div>


    <!-- Contact Section -->
    <section class="contact">
        @Html.Action("Office","MainPage")
        @Html.Action("Contact","MainPage")
        <div class="company-logo">
            <img src="../../estate/imgs/logo.jpg" alt="Company Logo">
        </div>
    </section>
    <script src="~/estate/overlay.js"></script>
    <script src="~/estate/project.js"></script>
    <script src="~/estate/pagination.js"></script>
</body>

</html>
