@model RealEstateProject.Models.Classes.Project

    <div class="project-info" style="background-image: url('@Model.projectImageUrl');">
        <div class="project-content">
            <h3 class="project-title">@Model.projectTitle</h3>
            <p>Model.projectDescription</p>
        </div>
    </div>

