@model List<RealEstateProject.Models.Classes.Image>
@{
    ViewBag.Title = "GetImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <header>
        <h1><i class="fas fa-images"></i> Build Images</h1>
    </header>

    <div class="container">
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var image in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <img src="@image.imageUrl" class="card-img-top" alt="Build Photo" style="width:350px;height:250px;">
                            <a href="~/Admin/DeleteImage/@image.imageId" class="btn btn-danger btn-sm" style="position:absolute; top:100px; right:135px; opacity:0.7;">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No photos available for this build.</p>
        }
        <a href="/Admin/BuildList/" class="btn btn-info btn-sm">
            <i class="fas fa-edit"></i> Back to Build List
        </a>
        <a href="/Admin/ImageList/" class="btn btn-success btn-sm">
            <i class="fas fa-edit"></i> Back to Image List
        </a>
    </div>
</main>


