@model List<RealEstateProject.Models.Classes.Image>
@{
    ViewBag.Title = "GetImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <header>
        <h1><i class="fas fa-images"></i> Build Images</h1>
    </header>

    <div class="container">
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var image in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <!-- Resim -->
                            <img src="@image.imageUrl" class="card-img-top" alt="Build Photo" style="width:300px;height:200px;margin-left:23px;margin-top:20px;">

                            <!-- ID Gösterimi -->
                            <div class="form-group" style="margin-top: 10px;margin-left:20px;">
                                <label for="imageId-@image.imageId">Image ID</label>
                                <input type="text" id="imageId-@image.imageId" class="form-control" value="@image.imageId" readonly style="width: 100px;" />
                            </div>
                            <!-- ID Gösterimi -->
                            <div class="form-group" style="margin-top: 10px; margin-left: 20px;">
                                <label for="imageId-@image.BuildId">Build ID</label>
                                <input type="text" id="imageId-@image.BuildId" class="form-control" value="@image.BuildId" readonly style="width: 100px;" />
                            </div>
                            <!-- Silme Butonu -->
                            <a href="~/Admin/DeleteImage/@image.imageId" class="btn btn-danger btn-sm" style="position:absolute; top:100px; right:80px; opacity:0.7;">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>

                            <!-- Güncelleme Formu -->
                            <form action="~/Admin/UpdateImage/@image.imageId?buildId=@image.BuildId" method="post" enctype="multipart/form-data" style="position:absolute; top:100px; right:185px; opacity:0.7;">
                                <input type="hidden" name="buildId" value="@image.BuildId" />
                                <label class="btn btn-info btn-sm">
                                    <i class="fas fa-edit"></i> Update
                                    <input type="file" name="newImage" style="display: none;" onchange="this.form.submit()" />
                                </label>
                            </form>


                        </div>
                    </div>
                }

            </div>
            <!-- Yeni Resim Ekleme Formu (Formu buraya ekliyoruz) -->
            <form action="/Admin/NewImage?buildId=@Model.First().BuildId" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="buildImages">Upload New Images</label>
                    <input type="file" id="buildImages" name="newImage" />
                    <button type="submit" class="btn btn-dark btn-sm" style="margin-left:0px;">Upload New Image</button>
                </div>
            </form>


        }
        else
        {
            <p>No photos available for this build.</p>
        }
        <a href="/Admin/BuildList/" class="btn btn-info btn-sm">
            <i class="fas fa-edit"></i> Back to Build List
        </a>
        <a href="/Admin/ImageList/" class="btn btn-success btn-sm">
            <i class="fas fa-edit"></i> Back to Image List
        </a>
    </div>
</main>
