@using RealEstateProject.Models.Classes
@model List<Office>
@{
    ViewBag.Title = "OfficeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <!-- Services  -->
    <header>
        <h1><i class="fas fa-briefcase"></i> Offices</h1>

    </header>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">City</th>
                    <th scope="col">Full Adress</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Data Entries -->
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.officeId</td>
                        <td>@x.officeCity</td>
                        <td>@x.officeFullAdress</td>
                        <td>
                            <button class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Update
                            </button>
                            <button class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!--  Add New Service -->
    <div class="addnewbutton">
        <a class="btn btn-info" href="~/Admin/NewOffice">
            Add New Office
        </a>
    </div>
</main>

